* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto Condensed', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.App main {
  display: flex;
}

.App main section:first-child {
  flex: 0.4;
}


.App main section:last-child {
  flex: 0.6;
}

@media screen and (max-width: 860px) {
  .App main {
    flex-flow: column;
  }

  .App main section:first-child {
    flex: 1;
  }
  
  .App main section:last-child {
    flex: 1;
  }

}