.config-section{
    padding: 30px 35px;
    border-right: solid 1px #BDBDBD;

    .btn {
        outline: none;
        height: 30px;
        width: 100px;
        background-color: white;
        font-family: 'Roboto Condensed';
        font-weight: bold;
        font-size: 12px;
        border: solid 1px #636363;
        padding: 5px;
        border-radius: 2px;
        cursor: pointer;
        color: #454545;
        transition-duration: 0.2s;
        display: flex;
        align-items: center;
        justify-content: center;
        transition-property: background-color;
        &:not(.disabled) {
            &:hover {
                background-color: #eee;
                border-color: #bbbb;
            }
            &:active {
                border: inset 1px #454545;
            }
        }
        &.disabled {
            cursor: not-allowed;
        }
    }

    .main-title {
        margin-bottom: 35px;
        .title {
            font-size: 18px;
            margin-bottom: 8px;
            color: #1E1E1E;
        }
        .subtitle {
            font-family: 'Roboto';
            font-size: 12px;
            color: #404040;
        }
    }

    .config {
        margin-bottom: 20px;
        .title {
            font-size: 16px;
            margin-bottom: 5px;
            color: #1E1E1E;
        }
        .subtitle {
            font-family: 'Roboto';
            font-size: 12px;
            margin-bottom: 10px;
            color: #404040;
        }
    }

    .input-file {
        .load-url-input {
            margin-bottom: 10px;
            input {
                height: 25px;
                padding: 3px;
                width: 260px;
                outline: none !important;
                border: solid 1px #8f8f8f !important;
                font-family: 'Roboto';
                font-size: 12px;
                color: #1E1E1E;
                &:active {
                    outline: none;
                }
            }
            button {
                height: 25px;
                border: solid 1px #8f8f8f;
                border-radius: 0px;
                outline: none !important;
                width: 45px;
                font-family: 'Roboto Condensed';
                font-weight: bold;
                font-size: 12px;
                border-left: none;
                background-color: #F4F4F4;
                cursor: pointer;
                &:active {
                    border: inset 2px #e6e6e6;
                }
                &[disabled] {
                    cursor:not-allowed;
                }
            }
        }
        .preview-img {
            height: 175px;
            margin-bottom: 10px;
            figure, img {
                height: 100%;
            }

            &.empty {
                border: solid 1px #FF3E01;
            }

            figure {
                background: #EAEAEA;
                display: flex;
                justify-content: center;

                div {
                    width: 90%;
                    height: 80%;
                    background-color: #ffffff;
                    margin: auto;
                    padding: 3px;
                    color: #ff5722;
                    font-family: monospace;
                    font-size: 12px;
                    text-align: left;
                    pre {
                        overflow: auto;
                    }
                    &.empty {
                        color: #454545;
                        font-size: 14px;
                        text-align: center;
                        background-color: transparent;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                    }
                }
            }
        }
        .load-file {
            input {
                display: none;
            }
        }
    }

    .mode {
        font-family: 'Roboto Condensed';
        font-size: 14px;
        color: #1E1E1E;
        .opts {
            label:first-child {
                margin-right: 45px;
            }
            label input {
                margin-right: 8px; 
            }
        }
    }

    .secret {
        .plain-text {
            width: 100%;
            font-family: 'Roboto Condensed';
            .footer {
                display: flex;
                justify-content: space-between;
                margin-bottom: 10px;
                div, button {
                    font-family: 'Roboto';
                    font-size: 12px;
                }
            }
            .info {
                color: #404040;
            }
            .clear-all {
                button {
                    background-color: white;
                    padding: 0px;
                    border: none;
                    color: #404040;
                    outline: none;
                    cursor: pointer;
                    text-decoration: underline;
                }
            }
            textarea {
                width: 100%;
                outline: none;
                padding: 3px;
                min-height: 72px;
                font-family: 'Roboto';
                resize: vertical;
                color: #1E1E1E;
                border: solid 1px #8f8f8f;
                &.empty {
                    border-color: #ff3d00;
                }
            }
        }
        .load-file {
            input {
                display: none;
            }
        }
    }

    .bit-loss {
        select {
            outline: none;
            height: 28px;
            width: 100px;
            font-size: 14px;
            padding: 3px;
            border: solid 1px #8f8f8f;
            background-color: white;

            &, option {
                font-family: 'Roboto';
                color: #1E1E1E;
            }
        }
    }

    .submit-section {
        button {
            width: 100%;
            height: 35px;
            font-size: 14px;
        }
        .subtitle {
            font-family: 'Roboto';
            font-size: 12px;
            color: #ff3d00;
            display: block;
            margin-top: 10px;
        }
    }
}